<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connections</key>
	<dict>
		<key>12CC88B4-B8D5-45F2-A7F8-C9083FF906F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F34C1AA-276D-41D3-B7C5-1CB97C68F47A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>70E1BD26-A3FC-4C09-958E-124D47EBCB4C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79797949-AD92-4049-91B7-7FADB9E67A12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</key>
		<array/>
		<key>28959088-424A-4236-BC2F-503B81E19E10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>377242BC-5FA6-4841-A69F-58DCD211FEDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C29B2BB5-08C0-4228-B13F-ED38D3CB3C99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>393A642F-DA03-404F-9A94-5397FB31ED43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F03C70CE-80AA-426C-922B-2843D52794FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F03C70CE-80AA-426C-922B-2843D52794FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>859DF162-F833-47F5-A932-A27D1DE6AF99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D225304E-7F42-4FDB-A1D3-7367F012C5A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>393A642F-DA03-404F-9A94-5397FB31ED43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show verse number</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FF3DAE2-74D9-4ADE-994A-D97E533AE3B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C21F0E11-30F4-4F59-B084-372934E7BABB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C29B2BB5-08C0-4228-B13F-ED38D3CB3C99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4EE5ACC-FCF0-4CDC-A292-7CE5658C3DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D209E86B-7800-465E-947C-001324F6C7FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D3EF4CB-BE7F-401C-B7C7-E4E2C72F2A7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D225304E-7F42-4FDB-A1D3-7367F012C5A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3317712-0546-49BC-AC83-9566E9C58465</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFD0C695-A720-4758-8CC5-015B3F4C3993</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFD0C695-A720-4758-8CC5-015B3F4C3993</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12CC88B4-B8D5-45F2-A7F8-C9083FF906F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Evans</string>
	<key>description</key>
	<string>Search for and view Bible references on YouVersion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouVersion Suggest - COPY</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m yvs.get_sabda "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>393A642F-DA03-404F-9A94-5397FB31ED43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yvfilter</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.filter_refs "$@" </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Type the name of a chapter or range or verses...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#000000F2</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>2</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9FF3DAE2-74D9-4ADE-994A-D97E533AE3B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F03C70CE-80AA-426C-922B-2843D52794FE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied {var:full_ref_name} to clipboard</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F34C1AA-276D-41D3-B7C5-1CB97C68F47A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m yvs.get_sabda_withnumber "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copied_ref}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>70E1BD26-A3FC-4C09-958E-124D47EBCB4C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>12CC88B4-B8D5-45F2-A7F8-C9083FF906F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yvsearch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.search_refs "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search the Bible for a word or phrase...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28959088-424A-4236-BC2F-503B81E19E10</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:ref_url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>377242BC-5FA6-4841-A69F-58DCD211FEDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error trying to copy {var:full_ref_name}</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>79797949-AD92-4049-91B7-7FADB9E67A12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:copied_ref}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DFD0C695-A720-4758-8CC5-015B3F4C3993</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.set_pref "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yvset</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.filter_prefs "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set YouVersion Suggest preferences...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C21F0E11-30F4-4F59-B084-372934E7BABB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Preferred {var:pref_name} set to "{var:value_name}"</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4EE5ACC-FCF0-4CDC-A292-7CE5658C3DC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:value_id}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C29B2BB5-08C0-4228-B13F-ED38D3CB3C99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yvclearcache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear YouVersion Suggest cache...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>859DF162-F833-47F5-A932-A27D1DE6AF99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.clear_cache "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D225304E-7F42-4FDB-A1D3-7367F012C5A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Cleared cache</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E3317712-0546-49BC-AC83-9566E9C58465</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.copy_ref "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/caleb531/youversion-suggest-alfred/issues</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1D3EF4CB-BE7F-401C-B7C7-E4E2C72F2A7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yvhelp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get help with YouVersion Suggest</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D209E86B-7800-465E-947C-001324F6C7FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please refer to the README on the YouVersion Suggest GitHub repository:
https://github.com/caleb531/youversion-suggest#readme</string>
	<key>uidata</key>
	<dict>
		<key>12CC88B4-B8D5-45F2-A7F8-C9083FF906F8</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>1D3EF4CB-BE7F-401C-B7C7-E4E2C72F2A7A</key>
		<dict>
			<key>note</key>
			<string>Open GitHub</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>28959088-424A-4236-BC2F-503B81E19E10</key>
		<dict>
			<key>note</key>
			<string>Search References</string>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</key>
		<dict>
			<key>note</key>
			<string>Set Preference</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>377242BC-5FA6-4841-A69F-58DCD211FEDB</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>393A642F-DA03-404F-9A94-5397FB31ED43</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>5F34C1AA-276D-41D3-B7C5-1CB97C68F47A</key>
		<dict>
			<key>xpos</key>
			<integer>1270</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>79797949-AD92-4049-91B7-7FADB9E67A12</key>
		<dict>
			<key>xpos</key>
			<integer>1305</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>859DF162-F833-47F5-A932-A27D1DE6AF99</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</key>
		<dict>
			<key>note</key>
			<string>Filter References</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9FF3DAE2-74D9-4ADE-994A-D97E533AE3B8</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>A4EE5ACC-FCF0-4CDC-A292-7CE5658C3DC1</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>C21F0E11-30F4-4F59-B084-372934E7BABB</key>
		<dict>
			<key>note</key>
			<string>Filter Preferences</string>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>C29B2BB5-08C0-4228-B13F-ED38D3CB3C99</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>D209E86B-7800-465E-947C-001324F6C7FE</key>
		<dict>
			<key>note</key>
			<string>Get Help</string>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>D225304E-7F42-4FDB-A1D3-7367F012C5A3</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</key>
		<dict>
			<key>note</key>
			<string>Copy Reference</string>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>DFD0C695-A720-4758-8CC5-015B3F4C3993</key>
		<dict>
			<key>xpos</key>
			<integer>1035</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>E3317712-0546-49BC-AC83-9566E9C58465</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>F03C70CE-80AA-426C-922B-2843D52794FE</key>
		<dict>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>11.4.1</string>
	<key>webaddress</key>
	<string>calebevans.me</string>
</dict>
</plist>
