<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</key>
		<array/>
		<key>393A642F-DA03-404F-9A94-5397FB31ED43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F03C70CE-80AA-426C-922B-2843D52794FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F03C70CE-80AA-426C-922B-2843D52794FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>393A642F-DA03-404F-9A94-5397FB31ED43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show verse number</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FF3DAE2-74D9-4ADE-994A-D97E533AE3B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D209E86B-7800-465E-947C-001324F6C7FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D3EF4CB-BE7F-401C-B7C7-E4E2C72F2A7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>afridho</string>
	<key>description</key>
	<string>Quicklook Alkitab Terjemahan Baru</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Bible TB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>/usr/bin/env python -m yvs.get_sabda "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>393A642F-DA03-404F-9A94-5397FB31ED43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ayat</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.filter_refs "$@" </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Ayat yang mau dilihat...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#000000F2</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>2</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9FF3DAE2-74D9-4ADE-994A-D97E533AE3B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F03C70CE-80AA-426C-922B-2843D52794FE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>/usr/bin/env python -m yvs.get_sabda_withnumber "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ayat-help</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get help with YouVersion Suggest</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D209E86B-7800-465E-947C-001324F6C7FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/afridho/bible-terjemahan-baru</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1D3EF4CB-BE7F-401C-B7C7-E4E2C72F2A7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please refer to the README on the YouVersion Suggest GitHub repository:
https://github.com/caleb531/youversion-suggest#readme</string>
	<key>uidata</key>
	<dict>
		<key>1D3EF4CB-BE7F-401C-B7C7-E4E2C72F2A7A</key>
		<dict>
			<key>note</key>
			<string>Open GitHub</string>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>2323D4A0-11CB-45D1-A1E4-1CC588F7FFC5</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>393A642F-DA03-404F-9A94-5397FB31ED43</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5389A5BA-6B3A-4187-9EB8-A8D82B11D6B3</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</key>
		<dict>
			<key>note</key>
			<string>Filter References</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9FF3DAE2-74D9-4ADE-994A-D97E533AE3B8</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>D209E86B-7800-465E-947C-001324F6C7FE</key>
		<dict>
			<key>note</key>
			<string>Get Help</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>F03C70CE-80AA-426C-922B-2843D52794FE</key>
		<dict>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>11.4.1</string>
	<key>webaddress</key>
	<string>gtihub.com/afridho</string>
</dict>
</plist>
